@model ArtHive.Models.Collection

@{
    ViewData["Title"] = "Collection Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="p-3">@ViewData["Title"]</h1>
<hr />
<div>
    <dl class="row mx-3">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="mx-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
