<div id="about">
    <div class="about-header">
        <h1>About ArtHive</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, iste. Quos saepe iure earum qui eligendi, doloremque atque consectetur quam tenetur natus. Quaerat ea a at tempora, ut ad vel.</p>
        <div class="about-header-cards-container">
            <div class="about-header-card">
                <div class="about-header-card-left">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="about-header-card-right">
                    <p>Sales</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam suscipit, illum recusandae, illo sit delectus cupiditate dicta quis aut</p>
                </div>
            </div>
            <div class="about-header-card">
                <div class="about-header-card-left">
                    <i class="fa-solid fa-globe"></i>
                </div>
                <div class="about-header-card-right">
                    <p>Technical Support</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam suscipit, illum recusandae, illo sit delectus cupiditate dicta quis aut</p>
                </div>
            </div>
            <div class="about-header-card">
                <div class="about-header-card-left">
                    <i class="fa-solid fa-file-lines"></i>
                </div>
                <div class="about-header-card-right">
                    <p>Media Inquiries</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam suscipit, illum recusandae, illo sit delectus cupiditate dicta quis aut</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-team">
        <div class="about-team-left">
            <h2>Meet our leadership</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis mollitia molestias sint repudiandae obcaecati officiis doloremque, voluptate rem cumque molestiae in incidunt consequatur quidem.</p>
        </div>
        <div class="about-team-right">
            <div class="about-team-card">
                <div class="about-team-card-left">
                    <img src="https://ca.slack-edge.com/TMTR0TLAJ-UMRKY0MN1-463dfb2059c9-72" alt="">
                </div>
                <div class="about-team-card-right">
                    <p>Shaun McKinnon</p>
                    <p>The / Professor</p>
                </div>
            </div>
            <div class="about-team-card">
                <div class="about-team-card-left">
                    <img src="https://ca.slack-edge.com/TMTR0TLAJ-UMRKY0MN1-463dfb2059c9-72" alt="">
                </div>
                <div class="about-team-card-right">
                    <p>Shaun McKinnon</p>
                    <p>One / Good Friend</p>
                </div>
            </div>
            <div class="about-team-card">
                <div class="about-team-card-left">
                    <img src="https://ca.slack-edge.com/TMTR0TLAJ-UMRKY0MN1-463dfb2059c9-72" alt="">
                </div>
                <div class="about-team-card-right">
                    <p>Shaun McKinnon</p>
                    <p>And / Business Man</p>
                </div>
            </div>
            <div class="about-team-card">
                <div class="about-team-card-left">
                    <img src="https://ca.slack-edge.com/TMTR0TLAJ-UMRKY0MN1-463dfb2059c9-72" alt="">
                </div>
                <div class="about-team-card-right">
                    <p>Shaun McKinnon</p>
                    <p>Only / Family Man</p>
                </div>
            </div>
            <div class="about-team-card">
                <div class="about-team-card-left">
                    <img src="https://ca.slack-edge.com/TMTR0TLAJ-UMRKY0MN1-463dfb2059c9-72" alt="">
                </div>
                <div class="about-team-card-right">
                    <p>Shaun McKinnon</p>
                    <p>Senior Technical Architect</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-trust">
        <div class="about-trust-title">
            <h2>Trusted by creators worldwide</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, vero.</p>
        </div>
        <div class="about-trust-numbers">
            <div class="about-trust-numbers-card">
                <p>8000+</p>
                <p>Lorem, ipsum dolor</p>
            </div>
            <div class="about-trust-numbers-card">
                <p>3%</p>
                <p>Lorem, ipsum dolor</p>
            </div>
            <div class="about-trust-numbers-card">
                <p>99.99%</p>
                <p>Lorem, ipsum dolor</p>
            </div>
            <div class="about-trust-numbers-card">
                <p>$300M</p>
                <p>$Money $Money $Money</p>
            </div>
        </div>
    </div>
</div>