@{
    ViewData["Title"] = "Contact Us";
}
<section id="contact-us" class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Since AI-generated art is a fairly new idea, you surely have a lot of inquiries. Ask us anything, and we'll respond right away.</p>
    <form action="">
        <div class="contact-us-form-name">
            <label for="name">Name</label>
            <input type="text">
        </div>
        <div class="contact-us-form-email">
            <label for="email">Email</label>
            <input type="email">
        </div>
        <div class="contact-us-form-message">
            <label for="message">Message</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </form>

    <a href="#" class="anchor-link-button"><span class="anchor-link-button-text">send</span></a>
</section>