@model IEnumerable<ArtHive.Models.Artwork>

@{
    ViewData["Title"] = "All Artworks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center pt-3">@ViewData["Title"]</h1>

<div class="grid">
    <div class="grid-col grid-col--1">
    </div>
    <div class="grid-col grid-col--2">
    </div>
    <div class="grid-col grid-col--3">
    </div>
    <div class="grid-col grid-col--4">
    </div>

    @foreach(var artwork in Model)
    {
        <div class="grid-item"><a asp-action="ArtworkDetails" asp-route-id="@artwork.Id" asp-route-backAction="ShopAll"><img src="~/images/artworks/@artwork.Image" alt="@artwork.Title" class="all-artwork-img"></a></div>
    }
</div>