*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    /*height: 100%;*/
    font-family: 'Roboto Mono', monospace;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.img-thumbnail {
    max-width: 100px;
}

/* Shop By Collection */
.shop-by-collection-header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-by-collection {
    height: auto;
    /*padding: 1em 4em;*/
    display: grid;
    row-gap: 1.5em;
    column-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.shop-by-collection-card {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.4s ease;
}

    .shop-by-collection-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .shop-by-collection-card a {
        z-index: 1;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        font-size: 1.15rem;
        padding: 0.25em 0.5em;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
    }

.shop-by-collection-cardanchor-link-button {
    overflow: hidden;
    text-decoration: none;
    color: #000;
    padding: 0.5em 1.2em;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

    .shop-by-collection-card-anchor-link-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #000;
        transition: all 0.3s ease;
    }

.shop-by-collection-card-anchor-link-button:hover .shop-by-collection-card-anchor-link-button-text {
    color: #fff;
}

.shop-by-collection-card-anchor-link-button:hover::before {
    z-index: -1;
    width: 100%;
}

/* Shop by Category Artwork Details */
#artwork-details {
    height: 100%;
    position: relative;
}

.artwork-details-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(50%);
    z-index: -1;
}

.artwork-details-header {
    height: 10%;
    padding: 0 1em;
    display: flex;
    justify-content: start;
    align-items: center;
}

    .artwork-details-header a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
    }

.artwork-details-artwork-info {
    height: 90%;
    color: #fff;
    display: flex;
}

.artwork-details-artwork-info-left {
    flex: 1;
    padding: 1em;
    width: 100%;
    height: 100%;
}

    .artwork-details-artwork-info-left img {
        width: 100%;
        height: 100%;
        border: 20px solid #fff;
    }

.artwork-details-artwork-info-right {
    flex: 1;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: start;
}

    .artwork-details-artwork-info-right h1 {
        font-size: 3rem;
    }

    .artwork-details-artwork-info-right p span {
        color: #cdcdcd;
        position: relative;
    }

        .artwork-details-artwork-info-right p span::after {
            content: "";
            background: #fff;
            position: absolute;
            width: 0%;
            height: 10%;
            top: 100%;
            left: 0;
            transition: all 0.4s ease;
        }

        .artwork-details-artwork-info-right p span:hover::after {
            width: 100%;
        }

        .artwork-details-artwork-info-right p span:hover {
            color: #fff;
        }

    .artwork-details-artwork-info-right hr {
        width: 100%;
    }

.artwork-details-anchor-link-button {
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    padding: 0.5em 1.2em;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 25px;
    position: relative;
    transition: all 0.3s ease;
}

    .artwork-details-anchor-link-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #000;
        transition: all 0.3s ease;
    }

    .artwork-details-anchor-link-button:hover {
        border-color: #000;
        color: #fff;
    }

        .artwork-details-anchor-link-button:hover .anchor-link-button-text {
            color: #fff;
        }

        .artwork-details-anchor-link-button:hover::before {
            z-index: -1;
            width: 100%;
        }

/* Shop All artwork */
.all-artwork-img {
    width: 100%;
}

/* Using floats */
.grid {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.grid-col {
    flex: 1;
}

.grid-col--2,
.grid-col--3 {
    display: none
}

.grid-item {
    padding: 0.5em 0;
}

@media(min-width: 768px) {
    .grid-col--2 {
        display: block;
    }
}

@media(min-width: 1080px) {
    .grid-col--3 {
        display: block;
    }
}

/*artwork details Add to cart input*/
.anchor-link-button-add-to-cart {
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    padding: 0.5em 1.2em;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 25px;
    position: relative;
    transition: all 0.3s ease;
    text-align: center;
}

    .anchor-link-button-add-to-cart .anchor-link-button-text-add-to-cart {
        background: none;
        border: none;
        color: #fff;
        z-index: 1;
    }

    .anchor-link-button-add-to-cart::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #fff;
        transition: all 0.3s ease;
    }

    .anchor-link-button-add-to-cart:hover .anchor-link-button-text-add-to-cart {
        color: #000;
    }

    .anchor-link-button-add-to-cart:hover::before {
        z-index: -1;
        width: 100%;
    }

.artwork-details-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

    .artwork-details-form input[name="quantity"] {
        border: 1px solid #ededed;
        padding: 0.5em 1em;
        border-radius: 5px;
        background: none;
        color: #fff;
        font-size: 1.1rem;
    }

/* Cart View */
#cart {
    height: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    place-items: center;
}

.cart-item {
    width: 50%;
    /* height: 350px; */
    height: fit-content;
    display: flex;
    gap: 1em;
    border-radius: 10px;
    /* overflow: hidden; */
    border: 1px #f0f0f0 solid;
    padding: 1em;
}

.cart-item-image {
    flex: 1;
}

    .cart-item-image img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

.cart-item-info {
    flex: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: start;
    align-items: start;
}

    .cart-item-info h2 {
        font-size: 2rem;
    }

.cart-item-info-buttons {
    display: flex;
    gap: 1em;
}

.anchor-link-button {
    overflow: hidden;
    text-decoration: none;
    color: #000;
    padding: 0.5em 1.2em;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 25px;
    position: relative;
    transition: all 0.3s ease;
}

    .anchor-link-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #000;
        transition: all 0.3s ease;
    }

    .anchor-link-button:hover .anchor-link-button-text {
        color: #fff;
    }

    .anchor-link-button:hover::before {
        z-index: -1;
        width: 100%;
    }

.checkout-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.anchor-link-checkout-button {
    overflow: hidden;
    text-decoration: none;
    color: #4dff39;
    padding: 0.5em 1.2em;
    cursor: pointer;
    border: 1px solid #4dff39;
    border-radius: 25px;
    position: relative;
    transition: all 0.3s ease;
}

    .anchor-link-checkout-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #4dff39;
        transition: all 0.3s ease;
    }

    .anchor-link-checkout-button:hover .anchor-link-checkout-button-text {
        color: #fff;
    }

    .anchor-link-checkout-button:hover::before {
        z-index: -1;
        width: 100%;
    }


/*Checkout View*/
.checkout-item-container {
    height: fit-content;
    padding: 1em 0em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.checkout-item {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.checkout-item-top {
    display: flex;
    height: 85%;
    padding: 0.5em;
}

.checkout-item-top-left {
    flex: 1;
}

    .checkout-item-top-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

.checkout-item-top-right {
    flex: 1;
    padding: 0.5em;
    line-height: 1.5;
}

    .checkout-item-top-right p span:nth-of-type(1) {
        font-weight:600;
        color: #383838;
    }
    .checkout-item-top-right p span:nth-of-type(2){
        font-style: italic;
    }

    .subtotal {
        border-top: 1px solid #d0d0d0;
        font-weight: bold;
    }

.checkout-item-bottom {
    text-align: right;
    padding: 0.25em 1em;
}

.checkout-total {
    padding: 0.5em 0em;
    font-weight: bold;
}

.checkout-buttons {
    padding: 0.25em 0em;
    display: flex;
    gap: 1em;
}

.checkout-button {
    overflow: hidden;
    text-decoration: none;
    color: #4dff39;
    padding: 0.5em 1.2em;
    cursor: pointer;
    border: 1px solid #4dff39;
    border-radius: 25px;
    position: relative;
    transition: all 0.3s ease;
}

.checkout-button-text {
    background: none;
    border: none;
    color: #4dff39;
}

    .checkout-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #4dff39;
        transition: all 0.3s ease;
    }

    .checkout-button:hover .checkout-button-text {
        color: #fff;
    }

    .checkout-button:hover::before {
        z-index: -1;
        width: 100%;
    }

.anchor-link-button {
    overflow: hidden;
    text-decoration: none;
    color: #000;
    padding: 0.5em 1.2em;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 25px;
    position: relative;
    transition: all 0.3s ease;
}

.anchor-link-button-text {
    background: none;
    border: none;
    color: #000;
}

.anchor-link-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #000;
    transition: all 0.3s ease;
}

    .anchor-link-button:hover .anchor-link-button-text {
        color: #fff;
    }

    .anchor-link-button:hover::before {
        z-index: -1;
        width: 100%;
    }